/* About */

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title{
    position: relative;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
}

.section-title::before{
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background-color: #3a6cf4;
    transform: translateX(-50%);
}

.section-title::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3a6cf4;
    transform: translateX(-50%);
}

.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.about .content .col-left{
    position: relative;
    width: 45%;
}

.about .content .col-right{
    position: relative;
    width: 50%;
}

.about .content .col-left .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .col-left .img-card img{
    position: relative;
    top: 0;
    left: 70px;
    width: 50%;
    height: 120%;
    object-fit: cover;
    border-radius: 10px;
}

.about .content .col-right .content-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.about .content .col-right .paragraph-text{
    font-size: 1.5em;
}