/* Contact */

.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .contact .content .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .contact .content .row .card{
    background: #fff;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
  }
  
  .contact .content .row .card .contact-icon{
    color: #3a6cf4;
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
  }
  
  .contact .content .row .card:hover .contact-icon{
    transform: translateY(-10px);
  }
  
  .contact .content .row .card .info{
    text-align: center;
  }
  
  .contact .content .row .card .info h3{
    color: #111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
  }
  
  .contact .content .row .card .info span{
    color: #666;
    font-weight: 500;
  }
  
  .contact-form{
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  }
  
  .contact-form h3{
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact-form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
  }
  
  .contact-form .input-box .send-btn{
    color: #fff;
    background: #3a6cf4;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 50%;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease;
    position: absolute;
    right: 80px;
    padding: 10px;
  }
  
  .contact-form .input-box .send-btn:hover{
    background: #235bf6;
  }

  /* Footer */
  
  .footer{
    background: #000016;
    color: #fff;
    text-align: center;
    padding: 2em;
  }
  
  .footer .footer-title{
    font-size: 20px;
    font-weight: 600;
  }
  
  .footer p{
    font-size: 16px;
    margin-top: 10px;
  }
  
  .footer p a{
    color: #3a6cf4;
    font-weight: 600;
    text-decoration: none;
  }
  


@media (max-width:1040px) {
    
    header{
        padding: 12px 20px;
    }

    header.sticky{
        padding: 10px 20px;
    }

    header .navigation{
        display: none;
    }

    .navigation.active{
        z-index: 889;
        position: fixed;
        background-color: white;
        top: 0;
        right: 0;
        width: 380px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
        transition: 0.3s ease;
    }

    header .navigation a{
        color: black;
        font-size: 1.2em;
        margin: 10px;
        padding: 10px 40px;
        border-radius: 5px;
    }

    header .navigation a:hover{
        background-color: #3a6cf4;
        color: white;
        transition: 0.3s ease;
    }

    .menu-btn{
        position: absolute;
        background-image: url(Image/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        right: 0;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background-image: url(Image/close.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        transition: 0.3s ease;
        filter: invert(1);
    }

    section{
        padding: 80px 20px;
    }

    .main .content h2{
        font-size: 1em;
    }

    .animated-text h3{
        font-size: 2.2em;
    }

    .section-title{
        font-size: 1.8em;
    }

    .about .content{
        flex-direction: column;
    }

    .about .content .column{
        width: 100%;
        position: relative;
    }

    .about .content .col-right{
        margin-top: 40px;
    }

    /* Skills */

    .skills .content{
        flex-direction: column;
    }

    .skills .content .column{
        position: relative;
        width: 100%;
    }

    .skills .content .col-right{
        margin-top: 40px;
    }
 
    .contact-form{
        padding: 35px 40px;
      }
}
