.skills{
    background-color: black;
}

.skills .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.skills .content .col-left{
    position: relative;
    width: 46%;
}

.skills .content .col-left .content-title{
    margin-bottom: 20px;
    font-size: 1.5em;
}

.skills .content .col-left .paragraph-text{
    font-size: 1.5em;
}

.skills .content .col-right{
    position: relative;
    width: 46%;
}

.skills .content .col-right .bar{
    margin-bottom: 15px;
    padding: 10px;
}

.skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .content .col-right .br .info span{
    font-size: 18px;
    font-weight: 500;
}

.skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #ccc;
    border-radius: 2px;
}

.skills .content .col-right .bar .line::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
}

.skills .content .col-right .bar .html::before{
    width: 80%;
    background-color: #e45126;
}

.skills .content .col-right .bar .css::before{
    width: 55%;
    background-color: #0c73b8;
}

.skills .content .col-right .bar .javascript::before{
    width: 40%;
    background-color: #e3a324;
}

.skills .content .col-right .bar .python::before{
    width: 50%;
    background-color: blue;
}