.work{
    background-color: #000016;
}

.work .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.work .content .card{
    width: 340px;
    margin: 15px;
}

.work .content .card .card-img{
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
}

.work .content .card .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s linear;
}

.work .content .card .card-img img:hover{
    transform: scale(1.2);
}